torch>=1.8.0
torchvision>=0.9.0
numpy>=1.19.5
pandas>=1.1.5
requests>=2.12.5
tqdm>=4.59.0
pillow>=8.3.1
scipy>=1.5.3
opencv-python>=4.5.3.56
torchmetrics==0.7.0
ruamel.yaml<=0.16.6
matplotlib>=3.0.0
importlib_metadata
tabulate
ipython
fastapi
pymilvus
pytest
fairscale
python-multipart
pyarrow
transformers>=4.19.2
einops>=0.4.1
timm>=0.4.12
faiss-cpu
numba
tritonclient[all]
protobuf<=3.20.0
PyWavelets