Jinja2<=3.0.3
importlib_metadata
ipython
m2r2
matplotlib>=3.0.0
myst_nb
numpy>=1.19.5
opencv-python>=4.5.3.56
pandas>=1.1.5
pillow>=8.3.1
pymilvus
requests>=2.12.5
ruamel.yaml<=0.16.6
scipy>=1.5.3
sphinx_copybutton
sphinx_rtd_theme
sphinx-inline-tabs
sphinxcontrib.prettyspecialmethods
tabulate
torch>=1.8.0
torchmetrics>=0.7.0
torchvision>=0.9.0
tqdm>=4.59.0
numba
pyarrow
faiss-cpu
