name: Workflow for codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.0
    - name: Setup Python
      uses: actions/setup-python@v3.0.0
      with:
        python-version: 3.8
    - name: Generate coverage report
      run: |
        pip install coverage pytest pytest-xdist
        pip install -r test_requirements.txt
        coverage erase
        coverage run -m pytest
    - name: Generate xml report
      run: |
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        fail_ci_if_error: true
